.signup-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSste6tVQw5_Z-HkxukvbFaJr0Xfc56F3ZpJA&usqp=CAU');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}
